h1 {
	font-family: Raleway;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: 31px;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;
}

form {
	gap: 10px;
}

input {
	height: 58px;
	width: 326px;
	border: none;
	border-radius: 5px;
}
